@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
/* For use in src/lib/core/theming/_palette.scss */
$pspalette: (
  50: #979797,
  100: #606060,
  200: #3c3c3c,
  300: #000000,
  400: #4d6cbd,
  500: #2553b3,
  600: #1e4ba9,
  700: #10419d,
  800: #003891,
  900: #00267c,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

// Define the palettes and themes using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/. The 3 #’s represent the
// default, lighter, and darker hues
$my-app-primary: mat-palette($pspalette, 800, 700, 900);
$my-app-accent: mat-palette($pspalette, 50, 100, 200);
// The warn palette is optional (defaults to red).
$my-app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-app-theme);
