// custom theme
@import "custom-theme.scss";
.my-primary-text {
  color: mat-color($my-app-primary);
}
.my-accent-text {
  color: mat-color($my-app-accent);
}

//main
html {
  background-color: mat-color($my-app-primary);
}

.title {
  justify-content: center;
}

.center {
  text-align: center;
}

.infoText {
  margin-bottom: 10px;
}

.card {
  margin: 5% 10% 5% 10%;
  z-index: 100 !important;
}

//profile
.centerForm {
  display: flex;
  justify-content: center;
}

.trophyGroupContainer {
  display: inline-block;
  vertical-align: middle;
}

.trophyGroup {
  //width: 300px;
  width: 90%;
  margin: 10px;
  border: lightgray inset 5px;
  border-radius: 4px;
}

.trophyInputGroup {
  margin: 10px;
}

.firstTrophyInput {
}

.trophyInput {
  width: 75%;
}

.trophy {
  vertical-align: middle;
  margin: 5px;
}

.trophyInfo {
  margin: 10px;
}

.profileErrorContainer {
  height: 20px;
}

.profileError {
  color: red;
  align-content: center;
}

.button {
  margin-top: 10px;
}

.closeProfileContainer {
  height: 20px;
  text-align: right;
}

.closeProfileButton {
  //float: right;
  //horiz-align: left;
}
.addProfileIcon {
  margin-bottom: 2px;
}

.profileTotals {
  margin-top: 10px;
}

.footer {
  padding: 20px 10px 0px 10px;
}

.expansion {
  margin: 5%;
  border: lightgray 1px solid;
  border-radius: 4px;
}

.expansionInfo {
  margin: 0 5% 0 5%;
}

//Animations
.psSymbolBackgroundWrapper {
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 2%;
}
.psSymbolContainer {
  display: inline-block;
}
.psSymbolAnimation {
  margin: 10px;
  pointer-events: none;
  animation: spin 10s ease infinite;
}

.psSymbolOffsetAnimation {
  margin: 10px;
  pointer-events: none;
  animation: spin 10s ease infinite;
  animation-delay: 1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
