<mat-card class="card">
  <mat-card-header class="title">
    <mat-card-title>PlayStation Trophy Calculator</mat-card-title>
  </mat-card-header>
  <div class="infoText">
    <div class="center">
      Easily calculate your PlayStation profile's trophy level by entering the
      number of Bronze, Silver, Gold and Platinum trophies you have.
      <br />
      <br />
      Have multiple accounts and wonder what your trophy level would be if you
      only had one? Simply add more profiles to combine trophy counts!
    </div>
    <div class="expansion">
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>How do PlayStation Trophies work?</mat-panel-title>
        </mat-expansion-panel-header>
        <h3>PS4 to PS5 trophy structure</h3>
        <div>
          As of October 2020, heading into the PlayStation 5, PlayStation
          updated their trophy system with the goal of reducing the time it
          takes to reach the next level, and providing players with the
          satisfaction of leveling up more often. If you would like to learn
          more about the new trophy system please read the
          <a
            href="https://blog.playstation.com/2020/10/07/upcoming-trophy-levelling-changes-detailed/"
          >
            official PlayStation blog post</a
          >. Once PlayStation releases more information about their new trophy
          system PlayStation Trophy Calculator will be updated to support it.
        </div>

        <h3>PS3 and PS4 trophy structure up until October 2020</h3>

        Each type of trophy is worth different point values
        <br />
        <br />
        <!--Trophy Scale-->
        <div class="expansionInfo">
          <div>
            <img
              src="../assets/images/trophy_Platinum.png"
              alt="Platinum Trophy"
              class="trophy"
            />
            Platinum Trophy - 180 points
          </div>
          <div>
            <img
              src="../assets/images/trophy_Gold.png"
              alt="Gold Trophy"
              class="trophy"
            />
            Gold Trophy - 90 points
          </div>
          <div>
            <img
              src="../assets/images/trophy_Silver.png"
              alt="Silver Trophy"
              class="trophy"
            />
            Silver Trophy - 30 points
          </div>
          <div>
            <img
              src="../assets/images/trophy_Bronze.png"
              alt="Bronze Trophy"
              class="trophy"
            />
            Bronze Trophy - 15 points
          </div>
        </div>
        <br />
        All your trophies points are added to a total point value. Reaching a
        new point milestone assigns you a new trophy level. The trophy level
        scale is as follows:
        <br />
        <br />
        <!--Level Scale-->
        <div class="expansionInfo">
          Level 1 - 0 points
          <br />
          Level 2 - 200 points
          <br />
          Level 3 - 600 points
          <br />
          Level 4 - 1200 points
          <br />
          Level 5 - 2400 points
          <br />
          Level 6 - 4000 points
          <br />
          Level 7 - 6000 points
          <br />
          Level 8 - 8000 points
          <br />
          Level 9 - 10000 points
          <br />
          Level 10 - 12000 points
          <br />
          Level 11 - 14000 points
          <br />
          Level 12 - 16000 points
          <br />
          Level 13 - 24000 points
          <br />
          Levels 14 to 26 - 8000 points more than the previous level
          <br />
          Levels 27 and up - 10000 points more than the previous level
        </div>
      </mat-expansion-panel>
    </div>
  </div>
  <mat-card-content class="center">
    <div
      *ngFor="let profile of profiles; let profileIndex = index"
      class="trophyGroupContainer"
    >
      <profile
        [profileIndex]="profileIndex"
        [profileCount]="profiles.length"
        (removeProfileEmitter)="removeProfile($event)"
        (profileInfoEmitter)="collectProfileInfo($event)"
        (isProfileValidEmitter)="validateProfiles($event)"
      >
      </profile>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="addProfile()"
        [disabled]="disableAddProfileButton"
      >
        <mat-icon class="addProfileIcon">add</mat-icon>
        Add Profile
      </button>
    </div>
    <div class="button">
      <button
        mat-raised-button
        color="primary"
        (click)="notifyChildrenToCalculate()"
        [disabled]="disableCalculateButton"
      >
        Calculate Trophy Level
      </button>
    </div>
    <div *ngIf="displayTrophyLevel" class="button">
      <button mat-raised-button color="primary" (click)="clearProfiles()">
        Clear All Profiles
      </button>
    </div>

    <div *ngIf="displayTrophyLevel" class="profileTotals">
      If you combined these PlayStation profiles...
      <br />
      <br />
      <ng-container *ngIf="totalNumTrophies === 1">
        You would have a total of
        <b>{{ totalNumTrophies }}</b> trophy
      </ng-container>
      <ng-container *ngIf="totalNumTrophies !== 1">
        You would have a total of
        <b>{{ totalNumTrophies.toLocaleString() }}</b> trophies
      </ng-container>
      <br />
      Your would have a total of
      <b>{{ totalTrophyPoints.toLocaleString() }}</b> trophy points
      <br />
      Your trophy level would be <b>{{ trophyLevel }}</b>
      <br />
      You are <b>{{ percentToNextLevel }}</b> % away from level
      <b>{{ nextTrophyLevel }}</b>
    </div>
    <div class="footer">
      PS Trophy Level Calculator is a fan website and in no way associated with
      PlayStation
    </div>
  </mat-card-content>
</mat-card>
<animated_background [animationChanceDenominator]="5"></animated_background>
