<form [formGroup]="profileForm" class="centerForm">
  <div class="trophyGroup">
    <div class="closeProfileContainer">
      <button
        mat-icon-button
        type="button"
        class="closeProfileButton"
        (click)="this.removeProfileEmitter.emit(profileIndex)"
        *ngIf="profileCount > 1"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="trophyInputGroup">
      <div
        *ngFor="let trophyType of trophyTypes; let firstField = first"
        [ngClass]="{ firstTrophyInput: firstField }"
      >
        <img
          src="../assets/images/trophy_{{ trophyType }}.png"
          alt="{{ trophyType }} Trophy"
          class="trophy"
        />
        <mat-form-field class="trophyInput">
          <mat-label># of {{ trophyType }} Trophies </mat-label>
          <label>
            <input
              matInput
              type="number"
              min="0"
              step="1"
              formControlName="num{{ trophyType }}Trophies"
              (change)="notifyParentOfValidity()"
            />
          </label>
        </mat-form-field>
      </div>
      <div class="profileErrorContainer">
        <mat-hint
          *ngIf="
            (numPlatinumTrophies.errors &&
              (numPlatinumTrophies.dirty || numPlatinumTrophies.touched)) ||
            (numGoldTrophies.errors &&
              (numGoldTrophies.dirty || numGoldTrophies.touched)) ||
            (numSilverTrophies.errors &&
              (numSilverTrophies.dirty || numSilverTrophies.touched)) ||
            (numBronzeTrophies.errors &&
              (numBronzeTrophies.dirty || numBronzeTrophies.touched))
          "
          class="profileError"
        >
          Positive Numbers Only
        </mat-hint>
      </div>
    </div>
    <div *ngIf="displayTrophyLevel" class="trophyInfo">
      <ng-container *ngIf="totalNumTrophies === 1">
        You have a total of
        <b>{{ totalNumTrophies }}</b> trophy
      </ng-container>
      <ng-container *ngIf="totalNumTrophies !== 1">
        You have a total of
        <b>{{ totalNumTrophies.toLocaleString() }}</b> trophies
      </ng-container>
      <br />
      You have <b>{{ totalTrophyPoints.toLocaleString() }}</b> trophy points
      <br />
      You have a trophy level of <b>{{ trophyLevel }}</b>
      <br />
      You are <b>{{ percentToNextLevel }}</b> % away from level
      <b>{{ nextTrophyLevel }}</b>
    </div>
  </div>
</form>
