<div class="psSymbolBackgroundWrapper">
  <div *ngFor="let symbol of symbolsAnimationInfo" class="psSymbolContainer">
    <img
      src="{{ symbol.image }}"
      alt="Animated PlayStation Symbol Background"
      [ngClass]="
        symbol.animate ? 'psSymbolOffsetAnimation' : 'psSymbolAnimation'
      "
    />
  </div>
</div>
